<div id="body" >
<div id="mele">
    <a  id="viewmovies_button"   routerLink="/candidate-list" class="btn btn-info" role="button">View Candidate</a>
    <a  id="addmovies_button"  routerLink="/add" class="btn btn-info" role="button">Add Candidate</a>
    <a  id="viewusers_button"  routerLink="/viewusers" class="btn btn-info" role="button">View Users</a>
    <a style="float: right;" id="logout_button"  routerLink="/login" class="btn btn-info" role="button">Log Out</a>
</div>
<h3 style="text-align: center; color: white; margin-top: 160px;">Welcome to Admin Page</h3>
</div>